body{
	font-family: 'Gulzar', serif;
	background-image:
			linear-gradient(45deg,
				rgba(236, 42, 39, 0.75),
				rgba(8, 83, 156, 0.75));
}
h1{
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.orange-text{
	color: rgb(252, 164, 0);
	 
}
section{
	display: flex;
	margin: auto;
	max-width: 85%;
}
.half{
	width: 50%;
}
.half p{
	line-height: 1.5;
	margin-top: 0px;
}
.half h3{
	margin-bottom: 0px;
}
.half img{
	width: 500px;
	padding-left: 70px;
}
.btn{
	text-decoration: none;
	background-image: linear-gradient(orange, tomato);
	padding: 0px 15px;
	font-size: 20px;
	color: white;
	border-radius: 5px;
}